<section class="main_content">
  <div class="row" *ngFor="let field of this.fields">
    <div class="col-md-3 label-default">{{ field.caption }}</div>
    <div class="col-md-9" *ngIf="formDialogType != typeFormDialogType.VIEW">
      <input
        *ngIf="field.datatype === typeField.STRING"
        type="text"
        id="{{ field.fieldName }}"
        name="{{ field.fieldName }}"
        pInputText
        [(ngModel)]="formData[field.fieldName]"
        [ngClass]="field.htmlClassAttr ? field.htmlClassAttr : ''"
        [ngStyle]="field.htmlStyleAttr"
        (ngModelChange)="dataChanged()"
      />
      <textarea
        *ngIf="field.datatype === typeField.TEXT"
        id="{{ field.fieldName }}"
        name="{{ field.fieldName }}"
        [(ngModel)]="formData[field.fieldName]"
        [ngClass]="field.htmlClassAttr ? field.htmlClassAttr : ''"
        [ngStyle]="field.htmlStyleAttr"
        (ngModelChange)="dataChanged()"
        >
      </textarea>
      <input
        *ngIf="field.datatype === typeField.INTEGER"
        type="text"
        pKeyFilter="int"
        id="{{ field.fieldName }}"
        name="{{ field.fieldName }}"
        [(ngModel)]="formData[field.fieldName]"
        [ngClass]="field.htmlClassAttr ? field.htmlClassAttr : ''"
        [ngStyle]="field.htmlStyleAttr"
        (ngModelChange)="dataChanged()"
      />
      <input
        *ngIf="field.datatype === typeField.DECIMAL"
        type="text"
        pKeyFilter="num"
        id="{{ field.fieldName }}"
        name="{{ field.fieldName }}"
        [(ngModel)]="formData[field.fieldName]"
        [ngClass]="field.htmlClassAttr ? field.htmlClassAttr : ''"
        [ngStyle]="field.htmlStyleAttr"
        (ngModelChange)="dataChanged()"
      />
      <input
        *ngIf="field.datatype === typeField.MONEY"
        type="text"
        pKeyFilter="money"
        id="{{ field.fieldName }}"
        name="{{ field.fieldName }}"
        [(ngModel)]="formData[field.fieldName]"
        [ngClass]="field.htmlClassAttr ? field.htmlClassAttr : ''"
        [ngStyle]="field.htmlStyleAttr"
        (ngModelChange)="dataChanged()"
      />
      <p-calendar
        *ngIf="field.datatype === typeField.DATE"
        [inputId]="field.fieldName"
        [name]="field.fieldName"
        [(ngModel)]="formData[field.fieldName]"
        [locale]="es"
        dateFormat="dd/mm/yy"
        [showTime]="false"
        [showButtonBar]="true"
        [showIcon]="true"
        [icon]="'fa fa-calendar'"
        [ngClass]="field.htmlClassAttr ? field.htmlClassAttr : ''"
        [ngStyle]="field.htmlStyleAttr"
        (ngModelChange)="dataChanged()"
        >
      </p-calendar>
      <p-calendar
        *ngIf="field.datatype === typeField.TIME"
        [inputId]="field.fieldName"
        [name]="field.fieldName"
        [(ngModel)]="formData[field.fieldName]"
        [locale]="es"
        [showTime]="true"
        [showButtonBar]="false"
        hourFormat="12"
        [showIcon]="true"
        [icon]="'fa fa-clock'"
        [timeOnly]="true"
        [ngClass]="field.htmlClassAttr ? field.htmlClassAttr : ''"
        [ngStyle]="field.htmlStyleAttr"
        (ngModelChange)="dataChanged()"
        >
      </p-calendar>
      <p-calendar
        *ngIf="field.datatype === typeField.DATETIME"
        [inputId]="field.fieldName"
        [name]="field.fieldName"
        [(ngModel)]="formData[field.fieldName]"
        [locale]="es"
        dateFormat="dd/mm/yy"
        [showTime]="true"
        [showButtonBar]="true"
        hourFormat="12"
        [showIcon]="true"
        [icon]="'fa fa-calendar-check'"
        [ngClass]="field.htmlClassAttr ? field.htmlClassAttr : ''"
        [ngStyle]="field.htmlStyleAttr"
        (ngModelChange)="dataChanged()"
        >
      </p-calendar>
    </div>
    <div class="col-md-9" *ngIf="formDialogType == typeFormDialogType.VIEW">
      <label *ngIf="field.datatype === typeField.STRING">
        {{ formData[field.fieldName] }}
      </label>
      <label *ngIf="field.datatype === typeField.TEXT">
        {{ formData[field.fieldName] }}
      </label>
      <label *ngIf="field.datatype === typeField.INTEGER">
        {{ formData[field.fieldName] | number }}
      </label>
      <label *ngIf="field.datatype === typeField.DECIMAL">
        {{ formData[field.fieldName] | number: '1.2-4' }}
      </label>
      <label *ngIf="field.datatype === typeField.MONEY">
        {{ formData[field.fieldName] | currency:'USD' }}
      </label>
      <label *ngIf="field.datatype === typeField.DATE">
        {{ formData[field.fieldName] | date: 'dd/MM/yyyy' }}
      </label>
      <label *ngIf="field.datatype === typeField.TIME">
        {{ formData[field.fieldName] | date: 'hh:mm:ss a' }}
      </label>
      <label *ngIf="field.datatype === typeField.DATETIME">
        {{ formData[field.fieldName] | date: 'dd/MM/YYYY hh:mm:ss a' }}
      </label>
    </div>
  </div>
</section>