<div class="row">
    <div class="col-md-12">
        <button class="GeneralBtn" (click)="onNewClick()">Nuevo</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <input type="text" pInputText placeholder="Buscar..." [(ngModel)]="searchText" (ngModelChange)="doSearch()" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <dx-data-grid [dataSource]="dataSource" [showBorders]="true" [showRowLines]="false" [showColumnLines]="false" wordWrapEnabled="true" [loadPanel]="false" [showColumnHeaders]="true" [hoverStateEnabled]="true">
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column *ngFor="let field of fieldsTable" dataField="{{ field.fieldName }}" caption="{{ field.caption }}">
            </dxi-column>
            <dxi-column [width]="130" cellTemplate="buttonTemplate"></dxi-column>

            <div *dxTemplate="let row of 'buttonTemplate'">
                <dx-button (onClick)="viewRow(row.data);" name="view"><i class="fa fa-eye"></i></dx-button>
                <dx-button (onClick)="updateRow(row.data)" name="update"><i class="fa fa-edit"></i></dx-button>
                <dx-button (onClick)="deleteRow(row.data)" name="delete"><i class="fa fa-trash"></i></dx-button>
            </div>
        </dx-data-grid>
    </div>
</div>