<!-- Popup Menu -->
<mat-menu #popupMenu>
  <button mat-menu-item (click)="changePassword()">
    <mat-icon>vpn_key</mat-icon>
    Cambiar Contraseña
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="exit()">
    <mat-icon>exit_to_app</mat-icon>
    Cerrar Sesion
  </button>
</mat-menu>
<!-- Top Menu -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Sophie Ware</h1>
    <span class="menu-spacer"></span>
    <!-- Usuario conectado -->
    <div style="float: right">
      <button mat-icon-button [matMenuTriggerFor]="popupMenu">
        <mat-icon>account_box</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- Side Menu -->
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <div *ngFor="let group of menuGroups">
        <h4>
          <mat-icon *ngIf="group.icon">{{ group.icon }}</mat-icon>
          {{ group.title }}
        </h4>
        <mat-divider></mat-divider>
        <div *ngFor="let item of group.items">
          <a mat-list-item [routerLink]="item.route" routerLinkActive="active" (click)="sidenav.close()">
            <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
            {{ item.caption }}
          </a>  
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="min-height: 300px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>