<div mat-dialog-title>
  {{ formTitle }}
</div>
<mat-dialog-content>
  <app-base-form
    [iFields]="fields"
    [iFormDialogType]="formDialogType"
    [iFormData]="formData"
    (oFormData)="dataChanged($event)"
  >
  </app-base-form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>
    {{ (formDialogType == typeFormDialogType.VIEW) ? 'Cerrar' : (formDialogType == typeFormDialogType.NEW) ? 'Guardar' : 'Actualizar' }}
  </button>
  <button *ngIf="formDialogType != typeFormDialogType.VIEW" mat-button (click)="onCancelClick()">Cancelar</button>
</mat-dialog-actions>