<div class="MainContainer">
    <div class="MenuLateral">
        <div class="containerLogo">
            <span class="Icon"><i class="fab fa-battle-net"></i></span>
            <span class="Logo">LOGO</span>
        </div>
        <div class="items">Item 1</div>
        <div class="items">Item 2</div>
        <div class="items">Item 3</div>
        <div class="items">Item 4</div>
        <div class="items">Item 5</div>
    </div>
    <div class="Header">
        <div class="ItemHeader">
            <i class="fas fa-bars MenuIcon"></i>
        </div>
    </div>
</div>