<div mat-dialog-title>
  {{ (messageDialogType == typeMessageDialogType.INFORMATION) ? 'Informacion' : (messageDialogType == typeMessageDialogType.CONFIRMATION) ? 'Confirmacion' : 'Error' }}
</div>
<mat-dialog-content>
  {{ message }}
</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="messageDialogType == typeMessageDialogType.INFORMATION || messageDialogType == typeMessageDialogType.ERROR" mat-button (click)="onOkClick()" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
  <button *ngIf="messageDialogType == typeMessageDialogType.CONFIRMATION" mat-button (click)="onNoClick()">No</button>
  <button *ngIf="messageDialogType == typeMessageDialogType.CONFIRMATION" mat-button (click)="onYesClick()" [mat-dialog-close]="true" cdkFocusInitial>Si</button>
</mat-dialog-actions>