<div class="containerLogin">
  <div class="backgroundLogin">
  </div>
  <div class="CuadroBlanco">
    <div class="logoLogin">
      <img style="width: 100px" src="../../../assets/logo.png" alt="">
    </div>
    <div class="inputLogin">
      <input type="text" pInputText placeholder="Username or Email Address" [(ngModel)]="email" />
    </div>
    <div class="inputLogin">
      <input type="password" pPassword placeholder="Password" [(ngModel)]="password" />
    </div>
    <div class="inputLogin">
      <button pButton type="button" label="Login" class="buttonLogin" (click)="doLogin()"></button>
      <a href="#">Forgot Password</a>
    </div>
  </div>
</div>