app-base-table {
    dx-data-grid {
        border: 1px dotted #7f67f7;
        margin: 40px !important;
        border-radius: 5px;
        .dx-datagrid-action,
        .dx-cell-focus-disabled {
            background: #E6ECEF;
            color: #000;
            font-weight: bold;
            &:hover,
            &:focus {
                transition: color .3s ease;
                cursor: pointer;
            }
        }
        .dx-row.dx-data-row {
            height: 30px;
            border-bottom: .5px solid #ccc;
            &:nth-child(even) {
                background: #fafafa;
            }
            &:nth-child(odd) {
                background: #fff;
            }
            td {
                padding: 4px 7px !important;
                dx-button {
                    color: #8614EB;
                    margin: 0px 2px;
                    padding: 1px;
                    border-radius: 10px;
                    &:hover {
                        color: #A9B30C;
                        transition: color .3s ease;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}