.GeneralBtn {
    width: 100px;
    background: #2a0066 !important;
    border-radius: 8px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-weight: bold;
    margin: 0 20px;
    &:hover {
        width: 100px;
        background: transparent !important;
        border: 1px solid #008499;
        border-radius: 8px;
        height: 40px;
        line-height: 40px;
        color: #008499;
        font-weight: bold;
        transition: .3s;
        transition-timing-function: ease-in-out;
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 132, 153, 1);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0, 132, 153, 1);
        box-shadow: 0px 0px 8px 0px rgba(0, 132, 153, 1);
    }
}