.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    background: url('/assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .logoLogin {
        text-align: center;
    }
    .CuadroBlanco {
        background: #fff;
        border-radius: 8px;
        border: 1px solid #fffcc1;
        padding: 20px;
    }
    .inputLogin {
        width: 400px;
        height: 50px;
        margin: 10px 0;
        input {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            border: 1px solid #c1c1c1;
            &:hover {
                border: 1px solid grey;
            }
            &:focus:not(.ui-state-error) {
                border: 1px solid #2a0066;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(42, 0, 102, 1);
                -moz-box-shadow: 0px 0px 5px 0px rgba(42, 0, 102, 1);
                box-shadow: 0px 0px 5px 0px rgba(42, 0, 102, 1);
            }
            .ui-state-error {
                border: 1px solid red;
                -webkit-box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 1);
                -moz-box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 1);
                box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 1);
            }
        }
    }
    .buttonLogin {
        width: 400px;
        background: #2a0066 !important;
        border-radius: 8px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        font-weight: bold;
        &:hover {
            background: transparent !important;
            border: 1px solid #008499;
            color: #008499 !important;
            font-weight: bold;
            transition: .3s;
            transition-timing-function: ease-in-out;
            -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 132, 153, 1);
            -moz-box-shadow: 0px 0px 8px 0px rgba(0, 132, 153, 1);
            box-shadow: 0px 0px 8px 0px rgba(0, 132, 153, 1);
        }
    }
    a {
        float: right;
        margin-top: 10px;
    }
}