@import url('https://fonts.googleapis.com/css?family=Patua+One|Poppins&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
.MainContainer {
    display: flex;
    font-family: 'Patua One', cursive;
    background: #fafafa;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    .MenuLateral {
        background: #f7f6fc;
        width: 220px;
        height: 100vh;
        .containerLogo {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            .Icon {
                color: #A9B30C;
                font-size: 50px;
            }
            .Logo {
                height: 100px;
                margin: 10px;
                color: #8614EB;
                font-size: 38px;
            }
        }
        .items {
            list-style: none;
            color: #8614EB;
            padding: 6px 20px;
            width: 200px;
            margin: 10px;
            border-radius: 8px;
            &:hover {
                list-style: none;
                color: #A9B30C;
                padding: 6px 20px;
                width: 200px;
                margin: 10px;
                transition: color .3s ease;
                cursor: pointer;
            }
        }
    }
    .Header {
        width: calc(100% - 220px);
        background: #fff;
        height: 60px;
        display: flex;
        justify-content: flex-end;
        .MenuIcon {
            font-size: 24px;
            margin-right: 20px;
        }
        .ItemHeader {
            list-style: none;
            color: #A9B30C;
            margin: 10px;
            transition: color .3s ease;
            cursor: pointer;
            &:hover {
                list-style: none;
                color: #8614EB;
                margin: 10px;
                border-radius: 8px;
            }
        }
    }
}